<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Azure BLAST+</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/handlebars-v4.0.5.js")
    <script>
        function pad(n, width, z) {
            z = z || '0';
            n = n + '';
            return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
        }
        function formatDate(date) {
            if (date === null || date === undefined) {
                return "";
            }
            if (date.getFullYear() === 1970) {
                return "";
            }
            return pad(date.getHours(),2) + ":" + pad(date.getMinutes(),2) + ":" + pad(date.getSeconds(),2) + " " + pad(date.getDate(), 2) + "/" + pad(date.getMonth() + 1, 2) + "/" + date.getFullYear();
        }
    </script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <a href="#" class="pull-left"><img style="margin-top: -2px;" src="/Content/images/MS-Azure_rgb_Wht_217px-50px.png"></a>
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar">aa</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("BLAST+", "Index", "Home", null, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Searches", "Index", "Searches")</li>
                <li>@Html.ActionLink("Databases", "Index", "Databases")</li>
                <li>@Html.ActionLink("External Repositories", "Index", "Repositories")</li>
                <li>@Html.ActionLink("Pools", "Index", "Pools")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kablammo")

@RenderSection("scripts", required: false)
</body>
</html>
